html, body {
    margin: 0;
    padding: 0;
    text-align: none !important;
}

.HeroImage {
    padding: 0;
}

img {      
    width: 100%;
}

.confetti {
    background: rgba(24, 24, 24, 0.0);
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
}