@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@300&display=swap');

html, body {
    margin: 0;
    padding: 0;
    text-align: none !important;
}

a {
    text-decoration: none;
}

.row {
    margin: 0;
}

.logo {
    font-family: 'Lobster', cursive;
    font-size: 36px;
    color: black !important;    
}

.custom-nav {    
    position: absolute;
    width: 100%;
    z-index: 1;    
}

.links {
    text-align: right;
    color: rgb(0, 0, 0) !important;
    font-family: sans-serif;
    font-weight: 600;
}

.navbar-toggler {
    color:rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.0);
    border-color: rgba(255, 255, 255, 0.0) !important;
}

span.navbar-toggler-icon {
    color:rgb(0, 0, 0);
}

.navbar-dark .navbar-toggler-icon {
    transition: 0.4s;
    background-image: url('../../burger.png');
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    margin: 0 auto;
    transition: 0.4s;
    width: 30px;
    height: 30px;      
    background-image: url('../../cross.png');
}

button:focus:not(:focus-visible) {
    display: none;
}
/* media-screen */
@media screen and (max-width: 560px){    
    .logo {
        font-size: 24px;
    } 
    .navbar-toggler {
        font-size: 16px;
    }
    
    .links {
        font-size: 12px;
    }
}
