@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@300&display=swap');

/* .carousel {   
    background: rgba(236, 235, 235, 0.5);
} */

.carousel-container {
    padding-top: 10px;
    justify-content: center;       
}

.carousel {
    box-shadow: 5px 5px 5px 5px rgb(187, 186, 186);   
}

.offer-header {
    font-family: 'Lobster', cursive;
    border-bottom: 2px solid black;    
    margin: 0;    
}

img {
    width: 100%;       
    margin: 0 auto;
    background: rgb(163, 157, 157);
}

.carousel-caption h3 {
    font-size: 20px;
    background: rgba(0,0,0,0.3);
    border-radius: 2px;
    color: #FFD700
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: none;
}

/* media-screen */
@media screen and (max-width: 992px){
    .carousel-caption h3 {
        font-size: 20px;
    }   
    
}
@media screen and (max-width: 560px){
    .carousel-caption h3 {
        font-size: 16px;
    }       
}

